[user]
	name = lobocv
	email = calvinlobo@gmail.com
[core]
	symlinks = true
	autocrlf = input
	pager = delta

[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3

[url "ssh://git@github.com/"]
      insteadOf = https://github.com/
